.oacley-carousel__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px; }
  @media (min-width: 768px) {
    .oacley-carousel__header {
      margin-top: 80px;
      margin-bottom: 20px; } }
  .oacley-carousel__header .oacley-carousel__title {
    font-size: 32px;
    line-height: normal;
    font-weight: 800;
    color: #222222;
    text-transform: uppercase;
    text-transform: -1px;
    margin-bottom: 20px; }
  .oacley-carousel__header .oacley-carousel__text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: #6d6d6d;
    text-align: center;
    max-width: 330px; }
    @media (min-width: 768px) {
      .oacley-carousel__header .oacley-carousel__text {
        text-align: justify;
        max-width: 367px; } }

@media (min-width: 768px) {
  .owl-carousel.oacley-carousel-main {
    margin-bottom: 60px; } }

.owl-carousel.oacley-carousel-main .owl-item {
  transform: scale(0.7); }
  @media (min-width: 768px) {
    .owl-carousel.oacley-carousel-main .owl-item {
      transform: scale(0.3); } }
  @media (min-width: 768px) {
    .owl-carousel.oacley-carousel-main .owl-item.center {
      transform: scale(1); } }

.owl-carousel.oacley-carousel-main .owl-nav {
  display: flex;
  justify-content: center; }
  .owl-carousel.oacley-carousel-main .owl-nav [aria-label='Previous'],
  .owl-carousel.oacley-carousel-main .owl-nav [aria-label='Next'] {
    font-size: 40px; }
    @media (min-width: 768px) {
      .owl-carousel.oacley-carousel-main .owl-nav [aria-label='Previous'],
      .owl-carousel.oacley-carousel-main .owl-nav [aria-label='Next'] {
        font-size: 20px; } }

.owl-carousel.oacley-carousel-main .owl-dots {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .owl-carousel.oacley-carousel-main .owl-dots {
      display: none; } }
  .owl-carousel.oacley-carousel-main .owl-dots .owl-dot {
    width: 54px;
    height: 2px;
    border-radius: 1px;
    background-color: #cccc; }
    .owl-carousel.oacley-carousel-main .owl-dots .owl-dot.active {
      background-color: #222222; }

.owl-carousel-buttons {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .owl-carousel-buttons {
      flex-direction: row;
      justify-content: center; } }
  .owl-carousel-buttons__custom {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .owl-carousel-buttons__custom {
        margin-bottom: 0;
        margin-right: 10px; } }
  .owl-carousel-buttons__custom-example {
    margin-bottom: 70px; }
    @media (min-width: 768px) {
      .owl-carousel-buttons__custom-example {
        margin-bottom: 0;
        margin-left: 10px; } }
  .owl-carousel-buttons__custom, .owl-carousel-buttons__custom-example {
    width: 250px;
    height: 34px; }
  .owl-carousel-buttons .btn {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    color: 1.29px;
    text-transform: uppercase;
    border-radius: 22px;
    width: 100%;
    letter-spacing: 0.2px;
    font-family: 'Open Sans Condensed', sans-serif; }
